container:
    image: {{ task.image }}

    {%- if task.env %}
    env:
        {% for name, value in task.env.items() %}
            {{ name }}: {{ value }}
        {% endfor %}
    {% endif %}

    {%- if task.expose %}
    expose:
        {% for src, dist in task.expose %}
            - {{ src }}:{{ dist }}
        {% endfor %}
    {% endif %}

    commit_on_stop: {{ task.commit_on_stop }}

    {%- if task.networks %}
    networks:
        {% for network in task.networks %}
            {% if network.type == 'tinc' %}
                - type: tinc
                  options:
                    invitation: {{ network.invitation }}
                  subnet: {{ network.subnet }}
            {% endif %}
        {% endfor %}
    {% endif %}
